body{
    margin:0;
}
.disclaimer{            
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: purple;
    border-radius:6px; 
    width: 100%;
    height: 50px;
    z-index: 2;

    .disclaimer-image{
        width: 100px;
        height: 50px;
        text-align: center;

        .image-pour-disclaimer{
            max-width: 100%;
            max-height: 100%;
        }
    }   

    .disclaimer-input{
        color: white;

        .disclaimer-boutton{
            background-color: green;
            color: white;
            
            &:hover{
                background-color: violet;
                color: black;
            }
        }       
    }    
}
.navbar{
    /* top: 0vh; */
    /* position: fixed; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border:1px solid #575757;
    border-radius:6px;
    width: 100%;

    .tete-navbar{
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        margin-left: 15px;

        .image-navbar{
            max-width: 100%;
            max-height: 100%;
        }
    }
    .corps-navbar{
        border-right: 2px grey solid;
        border-left: 2px grey solid;
        height: 100px;
        padding-left: 150px;
        padding-right: 150px;
        display: flex;
        align-items: center;
    
        .options-navbar{
            display:flex;
            justify-content:center;
            list-style-type: none;

            .option{ 
                margin:5px;

                .lien-navbar{
                    text-decoration:none;
                    color:red;
                    padding:10px; 

                    &:hover{
                        color:white;
                        background-color:black;
                        transition:1s;
                    }
                }
            }
        }
    }

    .pied-navbar{
        margin-right: 75px;

        .lien-pied-navbar{
            text-decoration: none;
        }
    }
}

.corps{
    display: flex;
    justify-content: center;
    margin-top:50px;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;

    .corps-du-site{
        text-align: center;

        .titre-section{
            font-family: 'Padauk', sans-serif;
        }
        #barre{
            width: 150px;
        }
        .texte-basique{
            font-family: 'Castoro', serif;
            color: black;
            text-align: left;
        }
        .point-ul{
            color: purple  ;
            
            .point-li{
                text-align: left;
            }
        }
        .petit-titre{
            text-align: left;
        }
    }
}
.pied{
    width: 100%;
    height: 200px;
    background-color: brown;
    display: flex;
    justify-content: center;
    position: relative;

    .pied-icone{
        justify-content: space-around;
        

        .icone{
            margin-top: 20px;
            margin-right: 25px ;
            margin-left: 25px;
            border: 2px solid;
            border-radius: 50% ;
            padding: 5px;
        }
    }
    .pied-image{
        width: 100px;
        height: 100px;
        position: absolute;
        margin-top: 90px;
        
        .image{
            max-width: 100%;
            max-height: 100%;        
        }
    }
    .copyright{
        position: absolute;
        margin-top: 150px;
    }
}